.login {
  display: flex;
  grid-row: 2/3;
  justify-content: center;
  align-items: center;
  background-color: #161a1d;
}
.login_form {
  width: 500px;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  color: #0b090a;
  padding: 50px;
  border-radius: 7px;
}
.submit_button {
  border: 1px solid #d3d3d365;
  outline: none;
  padding: 0.5rem 0.75rem;
  background: #e5383b;
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
}

.submit_button:hover {
  cursor: pointer;
  color: #e5383b;
  background: #d3d3d365;
}

.break {
  border: 0;
  height: 1px;
  background: #d3d3d365;
}

.hr_text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.hr_text::before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr_text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
