.home {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  grid-row: 2/3;
  background: #0b090a;
  padding-top: 10px;
}

@media (max-width: 500px) {
  .posts {
    width: 100%;
  }
}
