.comment_div {
  color: #0b090a;
  display: flex;
  justify-content: space-between;
}
.author_img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.comment {
  background: #d3d3d3;
  padding: 0.5rem 0.5rem;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #d3d3d30c;
  width: 85%;
}
.comment_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment_head_actions {
  display: flex;
  align-self: flex-start;
  gap: 5px;
}
.comment_edit {
  color: #2d88ff;
}
.comment_delete {
  color: #ba181bee;
}
.edit_div {
  display: flex;
  flex-direction: column;
}
.edit_div .edit_done {
  align-self: flex-end;
}
.edit_area {
  background: none;
  resize: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  outline: none;
  overflow-y: hidden;
}
