.header {
  grid-row: 1/2;
  position: relative;
}
.nav {
  display: flex;
  justify-content: space-between;
  background: #161a1d;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.nav_header {
  font-size: 1.7rem;
  font-weight: 700;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.side_bar {
  width: 150px;
  background: #161a1d;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
}
.side_bar_items {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.side_bar_btn {
  color: white;
  display: none;
}
.btn {
  color: #fff;
  font: inherit;
  border: none;
  background: none;
}
.btn:hover {
  cursor: pointer;
}
.profile_img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 100%;
}
.profile_link {
  height: 40px;
  display: block;
}

@media (max-width: 500px) {
  .navbar {
    display: none;
  }
  .profile_link {
    margin-top: 10px;
  }
  .side_bar_btn {
    display: block;
  }
}
