.header {
  grid-row: 1/2;
}
.nav {
  display: flex;
  justify-content: space-between;
  background: #161a1d;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.nav_header {
  font-size: 1.7rem;
  font-weight: 700;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 10px;
}
.logout_btn {
  color: #fff;
  font: inherit;
  border: none;
  background: none;
}
.logout_btn:hover {
  cursor: pointer;
}
