.comments {
  display: flex;
  flex-direction: column;
}
.comment_create {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment_input {
  outline: none;
  font-family: inherit;
  font-size: 14px;
  border: none;
  padding: 0.5rem 0.5rem;
  width: 85%;
  height: 100%;
  background: #d3d3d3;
  color: #0b090a;
  box-shadow: 1px 1px 1px #d3d3d30c;

  border-radius: 20px;
}
.comments_list {
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.spinner_div {
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.comment_div {
  color: #0b090a;
  display: flex;
  justify-content: space-between;
}
.comment {
  background: #d3d3d3;
  padding: 0.5rem 0.5rem;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #d3d3d30c;
  width: 85%;
}
.author_img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
